#formInput{
    display:inline;
}

.showCity{
    border-style: dashed;
    margin:5rem;
    /* backgrounds-color: lightskyblue; */
}

.weatherCards{
    height: 100px;
}

.weatherCards div{
    background-color:lightblue;
    border-radius:15px;
    /* border-style:solid; */
}
.searchHist{
    margin:5rem;
}

