#formInput{
    display:inline;
}

.showCity{
    border-style: dashed;
    margin:4rem;
    /* backgrounds-color: lightskyblue; */
}

.weatherCards{
    height: 100px;
}

.weatherCards div{
    background-color:lightblue;
    border-radius:15px;
    /* border-style:solid; */
}

#recentSearches{
    display:inline-block;
  margin-left:31rem;
  cursor: pointer;
}

input{
    text-align: center;
 margin: -6px -10px 12px; 
}
